<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="1.3.0.3/img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - HERMES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="1.3.0.3/css/app.css" rel="stylesheet" media="screen">
    <link href="1.3.0.3/css/simulation.messages.css" rel="stylesheet" media="screen">
    <link href="1.3.0.3/css/simulation.shared.css" rel="stylesheet" media="screen">
    <link href="ext/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<!-- Document body -->
<body>

<!-- Template: module header -->
<script type="underscore/template" id="template-messages-header">
<header class="module-header bg-primary">
    <h2><%- simulation.accountingProject.toUpperCase() %> ->
        <%- simulation.space.toUpperCase() %> ->
        <%- simulation.name %> [<%- simulation.tryID %>]
        <span class='pull-right'>
            <span class='simulation-details glyphicon glyphicon-list' title='View Simulation Details'></span>
        </span>
    </h2>
</header>
</script>

<script type="underscore/template" id="template-tabs">
<ul class="nav nav-tabs " role="tablist">
    <% var MOD = APP.modules.messages; %>
    <% // TAB NAV: compute job messages %>
    <% if (messageHistory.compute.all.length) { %>
    <li role="presentation" class="active">
        <a  href="#tab-jobs-compute"
            aria-controls="profile"
            role="tab"
            title="Overview"
            data-toggle="tab">
            <strong class="text-uppercase">
                Compute Job Messages (<%= messageHistory.compute.all.length %>)
            </strong>
        </a>
    </li>
    <% } %>
    <% // TAB NAV: post-processing jobs %>
    <% if (messageHistory.postProcessing.all.length) { %>
    <li role="presentation">
        <a  href="#tab-jobs-post-processing"
            aria-controls="profile"
            role="tab"
            title="Overview"
            data-toggle="tab">
            <strong class="text-uppercase">
                Post Processing Job Messages (<%= messageHistory.postProcessing.all.length %>)
            </strong>
        </a>
    </li>
    <% } %>
</ul>
<div class="tab-content">
    <% // TAB CONTENT: compute job messages %>
    <% if (messageHistory.compute.all.length) { %>
    <div role="tabpanel" class="tab-pane active" id="tab-jobs-compute">
        <%= APP.utils.renderTemplate("template-message-collection", {
            MOD: APP.modules.messages,
            messages: messageHistory.compute,
            messageType: 'compute',
            messageTypeDescription: APP.modules.messages.messageTypeDescriptions['compute'],
            displayPostProcessingJobInfo: false
        }) %>
    </div>
    <% } %>
    <% // TAB CONTENT: post-processing jobs %>
    <% if (messageHistory.postProcessing.all.length) { %>
    <div role="tabpanel" class="tab-pane" id="tab-jobs-post-processing">
        <%= APP.utils.renderTemplate("template-message-collection", {
            MOD: APP.modules.messages,
            messages: messageHistory.postProcessing,
            messageType: 'post-processing',
            messageTypeDescription: APP.modules.messages.messageTypeDescriptions['post-processing'],
            displayPostProcessingJobInfo: true
        }) %>
    </div>
    <% } %>
</div>
</script>

<!-- Template: messages collection -->
<script type="underscore/template" id="template-message-collection">
<table id="message-collection-<%= messageType %>" class="table table-hover table-bordered table-striped table-condensed">
    <thead>
        <tr class="bg-primary">
            <th colspan="<%= displayPostProcessingJobInfo ? 10 : 9 %>">
                <span class="pull-left" style="padding: 5px 0px 5px 0px">
                    <span style="padding: 5px;">
                        <strong>Total <%= messageTypeDescription %> Messages = <%= messages.all.length %>.</strong>
                    </span>
                </span>
                <span id="pagination-<%= messageType %>" class="pull-right form-inline">
                    <button type='button' class="btn btn-sm btn-default pagination-first">
                        <strong class="text-muted"><<</strong>
                    </button>
                    <button type='button' class="btn btn-sm btn-default pagination-previous">
                        <strong class="text-muted">&nbsp;&lt;&nbsp;</strong>
                    </button>
                    <input type="text"
                           class="pagination-info form-control input-sm"
                           placeholder="Page <%= messages.paging.current ? messages.paging.current.id : '0' %> of <%= messages.paging.count %>" />
                    <button type='button' class="btn btn-sm btn-default pagination-next">
                        <strong class="text-muted">&nbsp;&gt;&nbsp;</strong>
                    </button>
                    <button type='button' class="btn btn-sm btn-default pagination-last">
                        <strong class="text-muted">>></strong>
                    </button>
                    <select class="pagination-page-size form-control input-sm">
                        <% _.each(MOD.state.pageSizeOptions, function(pageSize) { %>
                        <option value="<%= pageSize %>" <%= pageSize == MOD.state.pageSize ? "selected" : "" %>>
                            <%= pageSize %> / page
                        </option>
                        <% }); %>
                    </select>
                </span>
            </th>
        </tr>
        <tr class="hermes-table-header">
            <th title='ID' class='text-center'>
                <small>#</small>
            </th>
            <th title='Type' class='text-center'>
                <small>Type</small>
            </th>
            <% if (displayPostProcessingJobInfo) { %>
                <th title='Job Info.'>
                    <small>Job Info.</small>
                </th>
            <% } %>
            <th title='Job UID' class='text-center'>
                <small>Job UID</small>
            </th>
            <th title='Timestamp' class='text-center'>
                <small>Timestamp</small>
            </th>
            <th title='Processed' class='text-center'>
                <small>Processed</small>
            </th>
            <th title='Latency' class='text-center'>
                <small>Latency</small>
            </th>
            <th title='Email ID' class='text-center'>
                <small>Email ID</small>
            </th>
            <th title='liblGCM version' class='text-center'>
                <small>liblGCM</small>
            </th>
            <th title='View message content' class='text-center'>
                <small>
                    <span class='glyphicon glyphicon-envelope'></span>
                </small>
            </th>
        </tr>
    </thead>
    <tbody>
        <% _.each(messages.paging.current.data, function(message, messageIndex) { %>
            <% if (_.indexOf(['1999', '2999', '3999'], message.typeID) != -1) { %>
            <tr id="<%= message.uid %>" class="bg-danger" style="font-weight: bold;">
            <% } else if (_.indexOf(['1900', '2900', '3900'], message.typeID) != -1) {%>
            <tr id="<%= message.uid %>" class="bg-danger">
            <% } else {%>
            <tr id="<%= message.uid %>">
            <% } %>
                <td style='width: 40px;' class='text-center'>
                    <small><%= messageIndex + 1 %></small>
                </td>
                <td class='text-center'>
                    <small><%= message.typeID %></small>
                </td>
                <% if (displayPostProcessingJobInfo) { %>
                    <td>
                        <small><%= message.jobInfo || "--" %></small>
                    </td>
                <% } %>
                <td class='text-center'>
                    <small><%= message.jobUID %></small>
                </td>
                <td class='text-center'>
                    <small><%= APP.utils.renderDateTime(message.timestamp) %></small>
                </td>
                <td class='text-center'>
                    <small><%= APP.utils.renderDateTime(message.processed) %></small>
                </td>
                <td class='text-center'>
                    <small><%= APP.utils.renderDuration(message.latency) %></small>
                </td>
                <td class='text-center'>
                    <small><%= message.emailID || '--' %></small>
                </td>
                <td class='text-center'>
                    <small>v<%= message.producerVersion %></small>
                </td>
                <td class='message-content text-center' >
                    <small><span class='glyphicon glyphicon-envelope'></span></small>
                </td>
            </tr>
        <% }); %>
    </tbody>
    <tfoot>
        <tr  style="border: 0px;">
            <td style="" colspan="10">
                <span>
                    <small>
                        <strong>
                            <%= messages.all.length %> <%= messageTypeDescription %> Job Messages
                        </strong>
                    </small>
                </span>
                <span class='pull-right'>
                    <small><strong><a href='http://prodiguer-docs.readthedocs.org/en/latest/' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- MOD.state.year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a></strong></small>
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</script>

<!-- Template: message content dialog -->
<script type="underscore/template" id="template-message-content">
<div id='message-content-modal' class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel"><strong>HERMES Message Content</strong></h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered table-condensed table-striped message-history-table">
                    <thead>
                        <tr>
                            <th title='Field'>Field</th>
                            <th title='Value'>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(fields, function(field) { %>
                        <tr>
                            <td ><strong><%= field[0] %></strong></td>
                            <td ><%= field[1] %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</script>


<!-- JS: 3rd party libraries -->
<script src="ext/jquery-3.2.1.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.3.3.min.js"></script>
<script src="ext/backbone-options-patch.js"></script>
<script src="ext/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="ext/moment-2.18.1.min.js"></script>
<script src="ext/numeral-2.0.6.js"></script>
<script src="ext/js.cookie-2.1.4.js"></script>
<script src="ext/jsExtensions.js"></script>

<!-- JS: Application shell -->
<script src="1.3.0.3/js/app/main.js"></script>
<script src="1.3.0.3/js/app/constants.js"></script>
<script src="1.3.0.3/js/app/cookies.js"></script>
<script src="1.3.0.3/js/app/init.js"></script>
<script src="1.3.0.3/js/app/options.js"></script>
<script src="1.3.0.3/js/app/state.js"></script>
<script src="1.3.0.3/js/app/templates.js"></script>
<script src="1.3.0.3/js/app/utils.js"></script>
<script src="1.3.0.3/js/app/view.content.js"></script>
<script src="1.3.0.3/js/app/view.header.js"></script>
<script src="1.3.0.3/js/app/view.footer.js"></script>
<script src="1.3.0.3/js/app/view.progress.js"></script>
<script src="1.3.0.3/js/app/view.js"></script>

<!-- JS - Module = messages (all) -->
<script src="1.3.0.3/js/simulation/messages/main.js"></script>
<script src="1.3.0.3/js/simulation/messages/init.js"></script>
<script src="1.3.0.3/js/simulation/messages/events.fetch.js"></script>
<script src="1.3.0.3/js/simulation/messages/state.js"></script>
<script src="1.3.0.3/js/simulation/messages/state.utils.js"></script>
<script src="1.3.0.3/js/simulation/messages/data.mapper.js"></script>
<script src="1.3.0.3/js/simulation/messages/data.parser.js"></script>
<script src="1.3.0.3/js/simulation/messages/view.js"></script>

</body>
</html>
