<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="1.2.1.3/img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - HERMES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="1.2.1.3/css/app.css" rel="stylesheet" media="screen">
    <link href="1.2.1.3/css/simulation.detail.css" rel="stylesheet" media="screen">
    <link href="1.2.1.3/css/simulation.shared.css" rel="stylesheet" media="screen">
    <link href="ext/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<!-- Document body -->
<body>

<!-- Template: header -->
<script type="underscore/template" id="template-caption">
<header id="caption" class="module-header bg-primary">
    <h2><%- simulation.accountingProject.toUpperCase() %> ->
        <%- simulation.space.toUpperCase() %> ->
        <%- simulation.name %> [<%- simulation.tryID %>]
        <span class='pull-right'>
            <span class="simulation-messages glyphicon glyphicon-envelope <%= hasMessages ? '' : 'hidden' %>"
                  title="View Simulation Messages"></span>
            <span class="inter-monitoring glyphicon glyphicon-random <%= simulation.isIM ? '' : 'hidden' %>"
                  title="Open Monitoring"></span>
        </span>
    </h2>
</header>
</script>

<!-- Template: notification info -->
<script type="underscore/template" id="template-notification">
<div id="notification"
         class="monitoring-state-<%= eventTypeDescription ? simulation.executionState : 'running' %>"
         style="padding: 12px 17px; margin-bottom: 2px; .border-radius( 5px );">
    <strong>
    <% if (eventTypeDescription) { %>
        <%= eventTimestamp.slice(0, 19) %>&nbsp;::
        <%= eventTypeDescription %>&nbsp;::
        <%= simulation.name %>&nbsp;is
        <%= simulation.ext.executionState %>
    <% } else { %>
        Awaiting simulation events ...
    <% } %>
    </strong>
</div>
</script>

<!-- Template: tabs -->
<script type="underscore/template" id="template-tabs">
<ul class="nav nav-tabs " role="tablist">
    <% // TAB NAV: overview %>
    <li role="presentation" class="active">
        <a  href="#tab-overview"
            aria-controls="profile"
            role="tab"
            title="Overview"
            data-toggle="tab">
            <strong class="text-uppercase">
                Overview
            </strong>
        </a>
    </li>
    <% // TAB NAV: config-card %>
    <% if (MOD.state.configCard) { %>
        <li role="presentation"  style="border-left: 1px solid lightgrey;">
            <a  href="#tab-config-card"
                aria-controls="profile"
                role="tab"
                title="Config Card"
                data-toggle="tab">
                <strong class="text-uppercase">
                    Config Card
                </strong>
            </a>
        </li>
    <% } %>
    <% // TAB NAV: compute jobs %>
    <% // TAB NAV: post-processing jobs %>
    <%  _.each(MOD.jobTypes, function (jobType, jobTypeIndex) {  %>
    <%      var jobList = MOD.getJobs(jobType); %>
    <%      if (jobList.all.length) { %>
            <li role="presentation" style="border-left: 1px solid lightgrey;">
                <a  href="#tab-jobs-<%= jobType %>"
                    aria-controls="profile"
                    role="tab"
                    title="<%= MOD.jobTypeDescriptions[jobType] %> Jobs"
                    data-toggle="tab">
                    <strong class="text-uppercase">
                        <%= MOD.jobTypeDescriptions[jobType] %> Jobs
                    </strong>
                    <span class="badge"
                          style="background-color: #D9EDF7; color: #333;">
                          <span id="tab-job-count-<%= jobType %>-running">
                            <%- jobList.running.length %>
                          </span>
                    </span>
                    <span class="badge"
                          style="background-color: #DFF0D8; color: #333;">
                          <span id="tab-job-count-<%= jobType %>-complete">
                            <%- jobList.complete.length %>
                          </span>
                    </span>
                    <span class="badge"
                          style="background-color: #F2DEDE; color: #333;">
                          <span id="tab-job-count-<%= jobType %>-error">
                            <%- jobList.error.length %>
                          </span>
                    </span>
                </a>
            </li>
    <%      } %>
    <%  });  %>
</ul>
<div class="tab-content">
    <% // TAB CONTENT: overview %>
    <div role="tabpanel" class="tab-pane active" id="tab-overview">
        <%= APP.utils.renderTemplate("template-tab-overview", MOD.state) %>
    </div>
    <% // TAB CONTENT: config-card %>
    <% if (MOD.state.configCard) { %>
        <div role="tabpanel" class="tab-pane" id="tab-config-card">
            <textarea id="simulation-config-card" class='form-control' rows='45' cols='40'>
                <%- configCard %>
            </textarea>
        </div>
    <% } %>
    <% // TAB CONTENT: compute jobs %>
    <% // TAB CONTENT: post-processing jobs %>
    <%  _.each(MOD.jobTypes, function (jobType) {  %>
    <%      var jobList, jobTypeCaption; %>
    <%      jobList = MOD.getJobs(jobType); %>
    <%      if (jobList.all.length) { %>
                <div role="tabpanel" class="tab-pane <%- jobType %>" id="tab-jobs-<%= jobType %>">
                    <%= APP.utils.renderTemplate("template-job-collection", {
                        APP: APP,
                        hidePPInfo: jobType === 'c' ,
                        jobList: jobList,
                        jobType: jobType,
                        jobTypeCaption: MOD.jobTypeDescriptions[jobType],
                        MOD: MOD
                    }) %>
                </div>
    <%      } %>
    <%  });  %>
</script>

<!-- Template: overview -->
<script type="underscore/template" id="template-tab-overview">
<table id="simulation-overview" class="table table-striped table-hover">
    <tbody>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Accounting Project">
                    Acc. Project
                </strong>
            </td>
            <td class="col-md-4">
                <%- simulation.ext.accountingProject %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Start date of simulation output">
                    Output Start Date
                </strong>
            </td>
            <td>
                <%= APP.utils.renderDate(simulation.outputStartDate) %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Simulation name">
                    Name
                </strong>
            </td>
            <td class="col-md-4">
                <%- simulation.name %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="End date of simulation output">
                    Output End Date
                </strong>
            </td>
            <td class="col-md-4">
                <%= APP.utils.renderDate(simulation.outputEndDate) %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Machine upon whcih simulation ran">
                    Machine
                </strong>
            </td>
            <td>
                <%- simulation.ext.computeNodeMachine %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Percentage computation completion">
                    Output Progress
                </strong>
            </td>
            <td>
                <% if (simulation.ext.executionProgress > 0) { %>
                    <%- numeral(simulation.ext.executionProgress).format('0 %') %>
                <% } else { %>
                    --
                <% } %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="User login under which simulation ran">
                    Login
                </strong>
            </td>
            <td class="col-md-4">
                <%- simulation.ext.computeNodeLogin %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Date upon which computation started">
                    Compute Start Date
                </strong>
            </td>
            <td>
                <%= APP.utils.renderDateTime(simulation.executionStartDate) %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Experiment being conducted">
                    Experiment
                </strong>
            </td>
            <td class="col-md-4">
                <%- simulation.ext.experiment %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Date upon which computation ended">
                    Compute End Date
                </strong>
            </td>
            <td class="">
                <%= APP.utils.renderDateTime(simulation.executionEndDate) %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Model being ran">
                    Model
                </strong>
            </td>
            <td>
                <%- simulation.ext.model %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Status of compute run">
                    Compute Status
                </strong>
            </td>
            <td class='text-uppercase'>
                <%- simulation.ext.executionState %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Output storage space">
                    Space
                </strong>
            </td>
            <td class="col-md-4">
                <%- simulation.ext.space %>
            </td>
            <td class="col-md-2">
                <strong data-toggle="tooltip" title="Links to previous simulation tries">
                    Try<% if (simulation.tryID > 1) { %> [Previous Tries]<% } %>
                </strong>
            </td>
            <td>
                <%- simulation.tryID %>
                <% if (simulation.tryID > 1) { %>
                &nbsp;[<% _.each(MOD.state.previousTries, function(tryInfo) { %>
                <a href="<%- APP.utils.getBaseURL() %>?uid=<%= tryInfo.uid %>" target="_blank"><%- tryInfo.tryID %></a><% }) %>&nbsp;]
                <% } %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip"
                        title="Submit directory and job localisation">
                    Submission Path
                </strong>
            </td>
            <td colspan="3">
                <%- simulation.submissionPath || 
                    simulation.jobs.compute.all.length ? 
                    simulation.jobs.compute.all[0].submissionPath : "--" %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip"
                        title="R_SAVE variable in libIGCM. Output tree located on ARCHIVE">
                    Archive Path
                </strong>
            </td>
            <td colspan="3">
                <%- simulation.archivePath || "--" %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip"
                        title="R_BUFR variable in libIGCM.Output tree located on STORAGE (files waiting treatment, or file location when SpaceName=TEST)">
                    Storage Path
                </strong>
            </td>
            <td colspan="3">
                <%- simulation.storagePath || "--" %>
            </td>
        </tr>
        <tr>
            <td class="col-md-2">
                <strong data-toggle="tooltip"
                        title="R_FIGR variable in libIGCM : Output tree located on STORAGE hosting figures (monitoring and atlas, and/or small files)">
                    Storage Path (Small)
                </strong>
            </td>
            <td colspan="3">
                <%- simulation.storageSmallPath || "--" %>
            </td>
        </tr>
    </tbody>
</table>
</script>

<!-- Template: job list -->
<script type="underscore/template" id="template-job-collection">
<table id="job-collection-<%= jobType %>" class="table table-hover table-bordered table-condensed job-history-table">
    <thead>
        <%= APP.utils.renderTemplate("template-job-collection-header", {
            jobList: jobList,
            jobType: jobType,
            jobTypeCaption: jobTypeCaption,
            hidePPInfo: hidePPInfo,
            MOD: MOD
        }) %>
    </thead>
    <tbody>
        <% _.each(jobList.paging.current.data, function(job) { %>
        <%= APP.utils.renderTemplate("template-job-detail", {
                APP: APP,
                MOD: MOD,
                job: job,
                jobTypeCaption: jobTypeCaption,
                jobType: jobType,
                hidePPInfo: hidePPInfo
            }) %>
        <% }); %>
    </tbody>
    <tfoot>
        <%= APP.utils.renderTemplate("template-job-collection-footer", {
            APP: APP,
            jobList: jobList,
            jobType: jobType,
            jobTypeCaption: jobTypeCaption,
            MOD: MOD
        }) %>
    </tfoot>
</table>
</script>

<!-- Template: job collection header -->
<script type="underscore/template" id="template-job-collection-header">
<tr class="bg-primary">
    <th colspan="7">
        <span class="pull-left" style="padding: 5px 0px 5px 0px">
            <span style="padding: 5px;">
                <strong>Total <%= jobTypeCaption %> Jobs = <%= jobList.all.length %>.</strong>
            </span>
        </span>
        <span id="pagination-<%= jobType %>" class="pull-right form-inline">
            <button type='button' class="btn btn-sm btn-default pagination-first">
                <strong class="text-muted"><<</strong>
            </button>
            <button type='button' class="btn btn-sm btn-default pagination-previous">
                <strong class="text-muted">&nbsp;&lt;&nbsp;</strong>
            </button>
            <input type="text"
                   class="pagination-info form-control input-sm"
                   placeholder="Page <%= jobList.paging.current ? jobList.paging.current.id : '0' %> of <%= jobList.paging.count %>" />
            <button type='button' class="btn btn-sm btn-default pagination-next">
                <strong class="text-muted">&nbsp;&gt;&nbsp;</strong>
            </button>
            <button type='button' class="btn btn-sm btn-default pagination-last">
                <strong class="text-muted">>></strong>
            </button>
            <select class="pagination-page-size form-control input-sm">
                <% _.each(MOD.state.pageSizeOptions, function(pageSize) { %>
                <option value="<%= pageSize %>" <%= pageSize == MOD.state.pageSize ? "selected" : "" %>>
                    <%= pageSize %> / page
                </option>
                <% }); %>
            </select>
        </span>
    </th>
</tr>
<tr class="hermes-table-header">
    <th title='Job post processing information' class='sort-target sort-target-postProcessingInfo <%= hidePPInfo ? 'hidden' : '' %>'>
        <small class='sort-target-postProcessingInfo'>Info.</small>
        <span class='pull-right sort-target-postProcessingInfo glyphicon' />
    </th>
    <th title='Job start date' class='sort-target sort-target-executionStartDate text-center'>
        <small class='sort-target-executionStartDate'>Start Date</small>
        <span class='pull-right sort-target-executionStartDate glyphicon' />
    </th>
    <th title='Job end date' class='sort-target sort-target-executionEndDate text-center'>
        <small class='sort-target-executionEndDate'>End Date</small>
        <span class='pull-right sort-target-executionEndDate glyphicon' />
    </th>
    <th title='Job duration' class='sort-target sort-target-duration text-center'>
        <small class='sort-target-duration'>Duration</small>
        <span class='pull-right sort-target-duration glyphicon' />
    </th>
    <th title='Job warning delay' class='sort-target sort-target-warningDelay text-center'>
        <small class='sort-target-warningDelay'>Delay Warning</small>
        <span class='pull-right sort-target-warningDelay glyphicon' />
    </th>
    <th title='Job lateness' class='sort-target sort-target-lateness text-center'>
        <small class='sort-target-lateness'>Lateness</small>
        <span class='pull-right sort-target-lateness glyphicon' />
    </th>
</tr>
</script>

<!-- Template: job collection footer -->
<script type="underscore/template" id="template-job-collection-footer">
<tr>
    <td colspan="7">
        <span>
            <small>
                <strong>
                    <%- jobList.all.length %> <%- jobTypeCaption %> Jobs:
                </strong>
            </small>
        </span>
        <span>
            <span class='monitoring-state-running badge'
                  style="background-color: #D9EDF7; color: #333;">
                <small><strong><%- jobList.running.length %> RUNNING</strong></small>
            </span>
            <span class='monitoring-state-complete badge'
                  style="background-color: #DFF0D8; color: #333;">
                <small><strong><%- jobList.complete.length %> COMPLETE</strong></small>
            </span>
            <span class='monitoring-state-error badge'
                  style="background-color: #F2DEDE; color: #333;">
                <small><strong><%- jobList.error.length %> ERROR</strong></small>
            </small>
        </span>
        <span class='pull-right'>
            <small><strong><a href='http://prodiguer-docs.readthedocs.org/en/latest/' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- MOD.state.year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a></strong></small>
        </span>
    </td>
</tr>
</script>

<!-- Template: job detail -->
<script type="underscore/template" id="template-job-detail">
<tr id="<%= job.jobUID %>" class="<%= MOD.getStateCSS(job.executionState) %>">
    <td class='postProcessingInfo <%= hidePPInfo ? 'hidden' : '' %>'>
        <small>
            <%= job.postProcessingInfo %>
        </small>
    </td>
    <td class='executionStartDate text-center'>
        <small>
            <%= APP.utils.renderDateTime(job.executionStartDate) %>
        </small>
    </td>
    <td class='executionEndDate text-center'>
        <small>
            <%= APP.utils.renderDateTime(job.executionEndDate) %>
        </small>
    </td>
    <td class='duration text-center'>
        <small>
            <%= APP.utils.renderDuration(job.duration) %>
        </small>
    </td>
    <td class='lateness text-center'>
        <small>
            <%= APP.utils.renderDuration(job.warningDelay) %>
        </small>
    </td>
    <td class='lateness text-center'>
        <small>
            <%= APP.utils.renderDuration(job.lateness) %>
        </small>
    </td>
</tr>
</script>

<!-- Template: web-socket close dialog -->
<script type="underscore/template" id="ws-close-dialog-template">
<div id="ws-close-dialog" class="modal fade" role="dialog" aria-labelledby="ws-close-dialog-label" aria-hidden="true" tabindex=-1>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title' id='ws-close-dialog-label'><%= APP.title %> <%= MOD.title %> v<%= APP.version %></h4>
            </div>
            <div class='modal-body'>
                The HERMES web socket server connection has been interrupted.
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' id='ws-close-dialog-refresh-page-button'>Refresh page</button>
            </div>
        </div>
    </div>
</div>
</script>

<!-- JS: 3rd party libraries -->
<script src="ext/jquery-3.2.1.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.3.3.min.js"></script>
<script src="ext/backbone-options-patch.js"></script>
<script src="ext/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="ext/moment-2.18.1.min.js"></script>
<script src="ext/numeral-2.0.6.js"></script>
<script src="ext/js.cookie-2.1.4.js"></script>
<script src="ext/jsExtensions.js"></script>

<!-- JS: Application shell -->
<script src="1.2.1.3/js/app/main.js"></script>
<script src="1.2.1.3/js/app/constants.js"></script>
<script src="1.2.1.3/js/app/cookies.js"></script>
<script src="1.2.1.3/js/app/init.js"></script>
<script src="1.2.1.3/js/app/options.js"></script>
<script src="1.2.1.3/js/app/state.js"></script>
<script src="1.2.1.3/js/app/templates.js"></script>
<script src="1.2.1.3/js/app/utils.js"></script>
<script src="1.2.1.3/js/app/view.content.js"></script>
<script src="1.2.1.3/js/app/view.header.js"></script>
<script src="1.2.1.3/js/app/view.footer.js"></script>
<script src="1.2.1.3/js/app/view.progress.js"></script>
<script src="1.2.1.3/js/app/view.js"></script>

<!-- JS: Module = monitoring (one) -->
<script src="1.2.1.3/js/simulation/shared/main.js"></script>
<script src="1.2.1.3/js/simulation/shared/utils.cv.js"></script>
<script src="1.2.1.3/js/simulation/shared/utils.im.js"></script>
<script src="1.2.1.3/js/simulation/shared/utils.ws.js"></script>
<script src="1.2.1.3/js/simulation/detail/init.js"></script>
<script src="1.2.1.3/js/simulation/detail/cookies.js"></script>
<script src="1.2.1.3/js/simulation/detail/state.js"></script>
<script src="1.2.1.3/js/simulation/detail/state.utils.0.js"></script>
<script src="1.2.1.3/js/simulation/detail/state.utils.js"></script>
<script src="1.2.1.3/js/simulation/detail/data.extender.job.js"></script>
<script src="1.2.1.3/js/simulation/detail/data.extender.simulation.js"></script>
<script src="1.2.1.3/js/simulation/detail/data.mapper.js"></script>
<script src="1.2.1.3/js/simulation/detail/data.parser.js"></script>
<script src="1.2.1.3/js/simulation/detail/events.fetch.js"></script>
<script src="1.2.1.3/js/simulation/detail/events.ws.js"></script>
<script src="1.2.1.3/js/simulation/detail/view.js"></script>
<script src="1.2.1.3/js/simulation/detail/view.renderer.js"></script>

</body>
</html>
