<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="1.2.1.2/img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - HERMES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="ext/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="1.2.1.2/css/app.css" rel="stylesheet" media="screen">
    <link href="1.2.1.2/css/simulation.monitoring.css" rel="stylesheet" media="screen">
    <link href="1.2.1.2/css/simulation.shared.css" rel="stylesheet" media="screen">
    <link href="ext/select2-4.0.2/css/select2.min.css" rel="stylesheet" media="screen">
    <link href="ext/select2-4.0.2/css/select2-bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="ext/jquery-contextmenu/jquery.contextMenu.2.5.0.css" rel="stylesheet" media="screen">

</head>

<!-- Document body -->
<body>

<!-- Template: filter panel -->
<script type="underscore/template" id="filter-panel-template">
<div id="filter-panel" class='panel panel-info form-inline' style="margin-bottom: 2px;">
    <div class='panel-body' style="padding: 9px 0px 5px 15px;">
        <% _.each(MOD.state.filters, function(filter) { %>
        <div class="col-md-3" style='margin-bottom: 3px;'>
            <label style='width: 38%; font-size:0.9em;'>
                <%- filter.displayName %>
            </label>
            <select id="filter-selector-<%= filter.key %>"
                    class="filter-selector  form-control <%= filter.isCustom ? 'custom-filter' : '' %>"
                    style='width: 60%; font-size:0.9em;'>
            </select>
        </div>
        <% }); %>
    </div>
</div>
</script>

<!-- Template: search result table -->
<script type="underscore/template" id="grid-template">
<table class='table table-hover table-bordered table-condensed monitoring-table'>
    <thead>
        <tr id="grid-stats-pager-row" class="bg-primary">
            <th colspan="15">
                <span id="statistics-info" class="form-inline">
                    <label>
                        &nbsp;&nbsp;Filter by name:&nbsp;&nbsp;
                    </label>
                    <input id="text-filter" type='text' class='form-control input-sm' style="width: 15%; font-weight: normal;">
                </span>
                <%= APP.utils.renderTemplate("grid-sorter-template", MOD.state) %>
                <%= APP.utils.renderTemplate("grid-pager-template", MOD.state) %>
            </th>
        </tr>
        <%= APP.utils.renderTemplate("permalink-template", {MOD: MOD}) %>
        <tr class="hermes-table-header">
            <th title='Accounting Project' class="text-center">
                <small>Acc. Project</small>
            </th>
            <th title='Name'>
                <small>Name</small>
            </th>
            <th title='Try' class="text-center">
                <small>Try</small>
            </th>
            <th title="Compute Jobs (Running | Complete | Error)" class="text-center">
                <small>Jobs (C)</small>
            </th>
            <th title="Post-Processing Jobs (Running | Complete | Error)" class="text-center">
                <small>Jobs (PP)</small>
            </th>
            <th title='Node - Machine' class="text-center">
                <small >Machine</small>
            </th>
            <th title='Login' class="text-center">
                <small>Login</small>
            </th>
            <th title='Tag / Model' class="text-center">
                <small >Tag / Model</small>
            </th>
            <th title='Experiment' class="text-center">
                <small>Experiment</small>
            </th>
            <th title='Space' class="text-center">
                <small >Space</small>
            </th>
            <th title='Output Progress (%)' class="text-center">
                <small>Output Progress (%)</small>
            </th>
            <th class="text-center" title='Open monitoring'>
              <small>M</small>
            </th>
            <th class="text-center im-context-menu" title='Open inter-monitoring'>
                <small>IM</small>
            </th>
        </tr>
    </thead>
    <%= APP.utils.renderTemplate("grid-body-template", MOD.state) %>
    <tfoot>
        <tr>
            <td colspan="15">
                <span>
                    <span class='monitoring-state-queued badge'
                          title='QUEUED'
                          style="background-color: #F5F5F5; color: #333;">
                        <small><strong>&nbsp;QUEUED&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-running badge'
                          title='RUNNING'
                          style="background-color: #D9EDF7; color: #333;">
                        <small><strong>&nbsp;RUNNING&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-complete badge'
                          title='COMPLETE'
                          style="background-color: #DFF0D8; color: #333;">
                        <small><strong>&nbsp;COMPLETE&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-error badge'
                          title='ERROR'
                          style="background-color: #F2DEDE; color: #333;">
                        <small><strong>&nbsp;ERROR&nbsp;</strong></small>
                    </span>
                    <span>
                        &nbsp;&nbsp;&nbsp;
                    </span>
                    <span class='badge'
                          title='Monitoring'
                          style="background-color: #eceeef; color: black;">
                        <small><strong>M = Monitoring</strong></small>
                    </span>
                    <span class='badge'
                          title='Inter-Monitoring'
                          style="background-color: #eceeef; color: black;">
                        <small><strong>IM = Inter-Monitoring</strong></small>
                    </span>
                </span>
                <span class='pull-right'>
                    <small><strong><a href='http://prodiguer-docs.readthedocs.org/en/latest/' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a></strong></small>
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</script>

<!-- Template: permalink table header row -->
<script type="underscore/template" id="permalink-template">
<tr id="grid-permalink-row" class="hidden bg-primary">
    <th colspan="15">
            <div class="input-group" style="width: 100%" >
                <span>
                <input id="permalink" type="text" class="form-control" style="font-size: 12px;" value="<%= MOD.getPermalink() %>"/>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-info active" id="btn-permalink-copy" title="Copy permalink to clipboard">
                    &nbsp;Copy&nbsp;
                    </button>
                    <button class="btn btn-default" id="btn-permalink-close" title="Close permalink">
                    Close
                    </button>
                </span>
            </div>
    </th>
</tr>
</script>

<!-- Template: table sorter -->
<script type="underscore/template" id="grid-sorter-template">
<span id="grid-sort-panel" class="form-inline">
    <label>
        &nbsp;&nbsp;&nbsp;&nbsp;Sort by:&nbsp;&nbsp;
    </label>
    <select id="sort-field-selector"
            class="form-control input-sm"
            style='width: 13%; font-size:0.9em; color: #999;'>
            <% _.each(MOD.state.sorting.fields, function(field) { %>
            <option value="<%= field.key %>" <%= field.key == MOD.state.sorting.field.key ? "selected" : "" %>>
                <%= field.displayName %>
            </option>
            <% }); %>
    </select>
    <select id="sort-direction-selector"
            class="form-control input-sm"
            style='width: 7%; font-size:0.9em; color: #999;'>
            <% _.each(MOD.state.sorting.directions, function(direction) { %>
            <option value="<%= direction.key %>" <%= direction.key == MOD.state.sorting.direction.key ? "selected" : "" %>>
                <%= direction.displayName %>
            </option>
            <% }); %>
    </select>
</span>
</script>

<!-- Template: table pager -->
<script type="underscore/template" id="grid-pager-template">
<span class='pull-right form-inline <%= paging.count < 2 ? '' : '' %>'>
    <button type='button' class='pagination-control btn btn-sm btn-default pagination-first'>
        <strong class="text-muted"><<</strong>
    </button>
    <button type='button' class='pagination-control btn btn-sm btn-default pagination-previous'>
        <strong class="text-muted">&nbsp;&lt;&nbsp;</strong>
    </button>
    <input type='text' class='pagination-control pagination-info form-control input-sm'
           placeholder="Page <%= paging.current ? paging.current.id : '0' %> of <%= paging.count %>">
    <button type='button' class='pagination-control btn btn-sm btn-default pagination-next'>
        <strong class="text-muted">&nbsp;&gt;&nbsp;</strong>
    </button>
    <button type='button' class='pagination-control btn btn-sm btn-default pagination-last'>
        <strong class="text-muted">>></strong>
    </button>
    <select class="pagination-control pagination-page-size form-control input-sm">
        <% _.each(MOD.state.pageSizeOptions, function(pageSize) { %>
        <option value="<%= pageSize %>" <%= pageSize == MOD.state.pageSize ? "selected" : "" %>>
            <%= pageSize %> / page
        </option>
        <% }); %>
    </select>
    <button id="btn-permalink-open" type="button" class="btn btn-info btn-sm">
        Permalink
    </button>
</span>
</script>

<!-- Template: search result table body -->
<script type="underscore/template" id="grid-body-template">
<tbody>
    <% _.each((paging.current ? paging.current.data : []), function(s, simulationIndex) { %>
    <%= APP.utils.renderTemplate("grid-row-template", {s: s, MOD: MOD}) %>
    <% }); %>
</tbody>
</script>

<!-- Template: search result table row -->
<script type="underscore/template" id="grid-row-template">
<tr id="<%= s.uid %>" class='monitoring-state-<%= s.executionState %>'>
    <td class="text-center">
        <small>
            <%= s.accountingProject %>
        </small>
    </td>
    <td>
        <small>
            <%= s.name.slice(0, 30) + (s.name.length > 30 ? '...' : '') %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.tryID %>
        </small>
    </td>
    <td class="text-center compute-job-count <%= s.jobCounts.c.e ? 'bg-danger' : ''%>"
        title="Running = <%= s.jobCounts.c.r %> | Complete = <%= s.jobCounts.c.c %> | Error = <%= s.jobCounts.c.e %>">
        <small>
            <% if (s.jobCounts.all === 0) { %>
                --
            <% } else { %>
                <%= s.jobCounts.c.r %> |
                <%= s.jobCounts.c.c %> |
                <%= s.jobCounts.c.e %>
            <% } %>
        </small>
    </td>
    <td class="text-center post-processing-job-count <%= s.jobCounts.p.e ? 'bg-danger' : ''%>"
        title="Running = <%= s.jobCounts.p.r %> | Complete = <%= s.jobCounts.p.c %> | Error = <%= s.jobCounts.p.e %>">
        <small>
            <% if (s.jobCounts.all === 0) { %>
                --
            <% } else { %>
                <%= s.jobCounts.p.r %> |
                <%= s.jobCounts.p.c %> |
                <%= s.jobCounts.p.e %>
            <% } %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.ext.computeNodeMachine %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.computeNodeLogin %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.ext.model %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.ext.experiment %>
        </small>
    </td>
    <td class="text-center">
        <small>
            <%= s.ext.space %>
        </small>
    </td>
    <td class="text-center">
        <% if (s.jobCounts.all === 0) { %>
            <small>--</small>
        <% } else if (s.ext.executionProgress === 0) { %>
            <small>--</small>
        <% } else if (s.ext.executionProgress === 1) { %>
            <small>100 %</small>
        <% } else { %>
            <span class="progress">
                <% if (s.executionState === 'running' || s.executionState === 'queued') { %>
                    <span class="progress-bar progress-bar-striped active actual" style="width: <%- numeral(s.ext.executionProgress * 100).format('0') %>%;">
                        <%- numeral(s.ext.executionProgress * 100).format('0') %> %
                    </span>
                <% } else { %>
                    <span class="progress-bar actual" style="width: <%- numeral(s.ext.executionProgress * 100).format('0') %>%;">
                        <%- numeral(s.ext.executionProgress * 100).format('0') %> %
                    </span>
                <% } %>
                <span class="progress-bar remaining" style="width: <%- 100 - numeral(s.ext.executionProgress * 100).format('0') %>%;">
                    &nbsp;
                </span>
            </span>
        <% } %>
    </td>
    <td class="text-center monitoring">
        <% if (s.isIM) { %>
            <span><small><strong>M</strong></small></span>
        <% } else { %>
            --
        <% } %>
    </td>
    <td class="text-center inter-monitoring">
        <% if (s.isIM) { %>
            <input type="checkbox" <% s.ext.isSelectedForIM ? 'checked' : '' %>></input>
        <% } else { %>
            <span >--</span>
        <% } %>
    </td>
</tr>
</script>

<!-- Template: inter-monitoring form -->
<script type="underscore/template" id="im-form-template">
<form id="inter-monitoring-form" method="POST" target="_blank" action="<%= httpPostTarget %>">
    <% _.each(urls, function(url, urlIndex) { %>
    <input type='hidden' id=simul<%= urlIndex + 1 %> name=simul<%= urlIndex + 1 %> value=<%= url %>></ input>
    <% }); %>
</form>
</script>

<!-- Template: web-socket notifications -->
<script type="underscore/template" id="notification-info-template">
<div id="notification-info"
     class="monitoring-state-<%= simulation ? simulation.executionState : 'running' %>"
     style="padding: 12px 10px; margin-bottom: 2px; .border-radius( 5px );">
    <strong id="notification-text">
    <% if (simulation) { %>
        <%= eventTimestamp.slice(0, 19) %>&nbsp;::
        <%= eventTypeDescription %>&nbsp;::
        <a href="<%= simulationDetailURL %>" target="_blank"><%= simulation.name %></a>&nbsp;is
        <%= simulation.ext.executionState %>
    <% } else { %>
        Awaiting simulation events ...
    <% } %>
    </strong>
    <strong class='pull-right simulation-stats'>
        Simulations: Total = <span class="total-simulation-count"><%- simulationList.length %></span>;
        Filtered = <span class="filtered-simulation-count"><%- simulationListFiltered.length %></span>.
    </strong>
</div>
</script>

<!-- Template: web-socket close dialog -->
<script type="underscore/template" id="ws-close-dialog-template">
<div id="ws-close-dialog" class="modal fade" role="dialog" aria-labelledby="ws-close-dialog-label" aria-hidden="true" tabindex=-1>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title' id='ws-close-dialog-label'><%= APP.title %> <%= MOD.title %> v<%= APP.version %></h4>
            </div>
            <div class='modal-body'>
                The HERMES web socket server connection has been interrupted.
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' id='ws-close-dialog-refresh-page-button'>Refresh page</button>
            </div>
        </div>
    </div>
</div>
</script>

<!-- JS: 3rd party libraries -->
<script src="ext/jquery-3.2.1.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.3.3.min.js"></script>
<script src="ext/backbone-options-patch.js"></script>
<script src="ext/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="ext/jquery-contextmenu/jquery.contextMenu.2.5.0.js"></script>

<script src="ext/moment-2.18.1.min.js"></script>
<script src="ext/numeral-2.0.6.js"></script>
<script src="ext/js.cookie-2.1.4.js"></script>
<script src="ext/jsExtensions.js"></script>
<script src="ext/select2-4.0.2/js/select2.min.js"></script>

<!-- JS: Application shell -->
<script src="1.2.1.2/js/app/main.js"></script>
<script src="1.2.1.2/js/app/constants.js"></script>
<script src="1.2.1.2/js/app/cookies.js"></script>
<script src="1.2.1.2/js/app/init.js"></script>
<script src="1.2.1.2/js/app/options.js"></script>
<script src="1.2.1.2/js/app/state.js"></script>
<script src="1.2.1.2/js/app/templates.js"></script>
<script src="1.2.1.2/js/app/utils.js"></script>
<script src="1.2.1.2/js/app/view.content.js"></script>
<script src="1.2.1.2/js/app/view.header.js"></script>
<script src="1.2.1.2/js/app/view.footer.js"></script>
<script src="1.2.1.2/js/app/view.progress.js"></script>
<script src="1.2.1.2/js/app/view.js"></script>
<!-- JS: Module = monitoring (all) -->
<script src="1.2.1.2/js/simulation/shared/main.js"></script>
<script src="1.2.1.2/js/simulation/shared/utils.cv.js"></script>
<script src="1.2.1.2/js/simulation/shared/utils.im.js"></script>
<script src="1.2.1.2/js/simulation/shared/utils.ws.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/init.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/cookies.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/logger.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/state.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/state.utils.0.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/state.utils.1.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/state.utils.2.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/state.utils.3.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/fetch.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/fetch.events.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/data.extender.simulation.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/data.parser.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/data.mapper.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/view.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/view.renderer.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/view.events.js"></script>
<script src="1.2.1.2/js/simulation/monitoring/ws.events.js"></script>

</body>
</html>
