div.alert, div.panel {
	margin-bottom: 8px;
}

.app-header {
	margin-bottom: 0px;
}

.app-header img {
	cursor: pointer;
}

.app-header .btn-group {
	margin-top: 24px;
}

.app-header .btn-group .btn {
	width: 120px;
	font-weight: bold;
}

.app-header .btn-group .btn-app-support {
	margin-top: 10px;
	width: 120px;
}

.app-header nav li {
	font-weight: bold;
}

.app-content {
	margin-bottom: 8px;
}

.app-title {
	font-size: 52px;
	color: #337AB7;
	cursor: pointer;
}

.module-title {
	font-size: 52px;
	/*color: #337AB7;*/
	color: #1e496d;
	/*font-style: italic;*/
}

.module-version {
	cursor: pointer;
}

