.app-header {
	margin-bottom: 0px;
}

.app-header img {
	cursor: pointer;
}

.app-header .btn-group {
	margin-top: 24px;
}

.app-header .btn-group .btn-app-support {
	font-weight: bold;
	margin-top: 10px;
	width: 100px;
}

@media (max-width: 1020px) {
	.app-header .btn-group .btn-app-support {
	    display: none;
	}
}

.app-header nav li {
	font-weight: bold;
}

.app-title {
	font-size: 1.2em;
	color: #337AB7;
	cursor: pointer;
}

.module-title {
	font-size: 1.2em;
	color: #1e496d;
}

.module-version {
	cursor: pointer;
}
