span.pagination {
	margin: -7px 0 0 0;
}

input.pagination-info {
	width: 120px;
}

.module-footer {
	padding: 8px;
	border: 1px solid #BCE8F1;
}

table.monitoring-table {
	margin-bottom: 10px;
}

table.monitoring-table tr td.row-link {
	cursor: pointer;
}

table.monitoring-table tr td.monitoring {
	cursor: pointer;
}

table.monitoring-table th.interMonitoring {
	cursor: pointer;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.monitoring-state-queued {
	background-color: #F5F5F5;
	color: #333;
}

.monitoring-state-running {
	background-color: #D9EDF7;
	color: #333;
}

.monitoring-state-complete {
	background-color: #DFF0D8;
	color: #333;
}

.monitoring-state-error {
	background-color: #F2DEDE;
	color: #333;
}

.btn.criteria-open-dialog {
	margin-top: -7px;
	width: 100px;
}
