span.pagination {
	margin: -7px 0 0 0;
}

input.pagination-info {
	width: 120px;
}

td.monitoring, th.interMonitoring {
	cursor: pointer;
}

.module-footer {
	padding: 8px;
	border: 1px solid #BCE8F1;
}

table.monitoring-table {
	margin-bottom: 10px;
}

