article > header > h2 {
	padding: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

table tr td.message-content {
	cursor: pointer;
}

article > header > h2 span.simulation-details {
	cursor: pointer;
}

ul.nav {
	margin-bottom: 2px;
	margin-top: 2px;
}

li:not(.active) > a > strong.text-uppercase {
	color: black;
}

table.table.table-striped tr.bg-danger td {
    background-color:#F2DEDE;
}

table.table thead tr {
    background-color:#eceeef;
}
