article > header > h2 {
	padding: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

article > header > h2 span.inter-monitoring {
	padding-right: 5px;
	cursor: pointer;
}

article > header > h2 span.simulation-messages {
	cursor: pointer;
}

ul.nav {
	margin-bottom: 5px;
}

li:not(.active) > a > strong.text-uppercase {
	color: black;
}

#caption {
	margin-bottom: 5px;
}


