.monitoring-state-queued {
	background-color: #F5F5F5;
	color: #333;
}

.monitoring-state-running {
	background-color: #D9EDF7;
	color: #333;
}

.monitoring-state-complete {
	background-color: #DFF0D8;
	color: #333;
}

.monitoring-state-error {
	background-color: #F2DEDE;
	color: #333;
}

table.table thead tr.prodiguer-table-header {
    background-color:#eceeef;
}
