.simulation-state-queued {
	background-color: #F5F5F5;
	color: #333;
}

.simulation-state-running, .job-state-running {
	background-color: #D9EDF7;
	color: #333;
}

.simulation-state-complete, .job-state-complete {
	background-color: #DFF0D8;
	color: #333;
}

.simulation-state-error, .job-state-error {
	background-color: #F2DEDE;
	color: #333;
}

article > header > h2 {
	padding: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

article > section {
	margin-bottom: 15px;
}

article > section > header > h3 {
	padding: 3px;
	margin-bottom: 5px;
	margin-top: 5px;
}

table.job-history-table {
	margin-bottom: 0px;
}

.module-footer {
	padding: 8px;
	border: 1px solid #BCE8F1;
}