<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - HERMES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="ext/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/app.css" rel="stylesheet" media="screen">
    <link href="css/simulation.monitoring.css" rel="stylesheet" media="screen">
    <link href="css/simulation.shared.css" rel="stylesheet" media="screen">
</head>

<!-- Document body -->
<body>

<!-- Template: filter panel -->
<script type="underscore/template" id="filter-panel-template">
<div id="filter-panel" class='panel panel-info form-inline' style="margin-bottom: 2px;">
    <div class='panel-body' style="padding: 5px 0px 0px 15px;">
        <% _.each(MOD.state.filters, function(filter, filterIndex) { %>
        <div class="col-md-4">
            <label style='width: 35%; font-size:0.9em;'>
                <%- filter.displayName %>
            </label>
            <%= APP.utils.renderTemplate("filter-selector-template", filter) %>
        </div>
        <% }); %>
    </div>
</div>
</script>

<!-- Template: filter selector -->
<script type="underscore/template" id="filter-selector-template">
<select id="filter-selector-<%= key %>"
        class="<%= isCustom ? 'custom-filter' : '' %>"
        style='width: 55%; font-size:0.9em;'>
    <% _.each(cvTerms.all, function(term) { %>
        <% if (isCustom || term.isActive) { %>
        <option value="<%= term.name %>" <%= term === cvTerms.current ? 'selected' : '' %>>
            <%- term.displayName %>
        </option>
        <% } %>
    <% }); %>
</select>
</script>

<!-- Template: search statistics -->
<script type="underscore/template" id="statistics-info-template">
    <span id="statistics-info" class="pull-left" style="padding: 5px 0px 5px 5px">
        <strong>
            Total simulations = <%- simulationList.length %>.
            Filtered simulations = <%- simulationListFiltered.length %>.
        </strong>
        <button id="btn-permalink-open" type="button" class="btn btn-info btn-xs">
            <small>
                Permalink
            </small>
        </button>
    </span>
</script>

<!-- Template: search result table -->
<script type="underscore/template" id="grid-template">
<table class='table table-hover table-bordered table-condensed monitoring-table'>
    <thead>
        <tr id="grid-stats-pager-row" class="bg-primary">
            <th colspan="15">
                <%= APP.utils.renderTemplate("statistics-info-template", MOD.state) %>
                <%= APP.utils.renderTemplate("grid-pager-template", MOD.state) %>
            </th>
        </tr>
        <%= APP.utils.renderTemplate("permalink-template", {MOD: MOD}) %>
        <tr class="hermes-table-header">
            <th title='Activity' class="text-center">
                <small>Activity</small>
            </th>
            <th title='Name' class='sort-target sort-target-name'>
                <small class='sort-target-name'>Name</small>
                <span class='pull-right sort-target-name glyphicon' />
            </th>
            <th title='Try' class="text-center">
                <small>Try</small>
            </th>
            <th title='Compute Jobs' class="text-center">
                <small>Jobs (C)</small>
            </th>
            <th title='Post-Processing Jobs' class="text-center">
                <small>Jobs (PP)</small>
            </th>
            <th title='Node - Machine' class="text-center sort-target sort-target-computeNodeMachine">
                <small class='sort-target-computeNodeMachine'>Machine</small>
                <span class='pull-right sort-target-computeNodeMachine glyphicon' />
            </th>
            <th title='Accounting Project' class="text-center sort-target sort-target-accountingProject">
                <small class='sort-target-accountingProject'>Acc. Project</small>
                <span class='pull-right sort-target-accountingProject glyphicon' />
            </th>
            <th title='Login' class="text-center sort-target sort-target-computeNodeLogin">
                <small class='sort-target-computeNodeLogin'>Login</small>
                <span class='pull-right sort-target-computeNodeLogin glyphicon' />
            </th>
            <th title='Tag / Model' class="text-center sort-target sort-target-model">
                <small class='sort-target-model'>Tag / Model</small>
                <span class='pull-right sort-target-model glyphicon' />
            </th>
            <th title='Space' class="text-center sort-target sort-target-space">
                <small class='sort-target-space'>Space</small>
                <span class='pull-right sort-target-space glyphicon' />
            </th>
            <th title='Experiment' class="text-center sort-target sort-target-experiment">
                <small class='sort-target-experiment'>Experiment</small>
                <span class='pull-right sort-target-experiment glyphicon' />
            </th>
            <th title='Start' class="text-center sort-target sort-target-executionStartDate">
                <small class='sort-target-executionStartDate'>Start</small>
                <span class='pull-right sort-target-executionStartDate glyphicon' />
            </th>
            <th title='End' class="text-center sort-target sort-target-executionEndDate">
                <small class='sort-target-executionEndDate'>End</small>
                <span class='pull-right sort-target-executionEndDate glyphicon' />
            </th>
            <th colspan="2" class="text-center" title='Open inter-monitoring menu' data-toggle='context' data-target='#inter-monitoring-context-menu'>
              <span class='glyphicon glyphicon-random'></span>
            </th>
        </tr>
    </thead>
    <%= APP.utils.renderTemplate("grid-body-template", MOD.state) %>
    <tfoot>
        <tr>
            <td colspan="15">
                <span>
                    <span class='monitoring-state-queued badge'
                          title='QUEUED'
                          style="background-color: #F5F5F5; color: #333;">
                        <small><strong>&nbsp;QUEUED&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-running badge'
                          title='RUNNING'
                          style="background-color: #D9EDF7; color: #333;">
                        <small><strong>&nbsp;RUNNING&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-complete badge'
                          title='COMPLETE'
                          style="background-color: #DFF0D8; color: #333;">
                        <small><strong>&nbsp;COMPLETE&nbsp;</strong></small>
                    </span>
                    <span class='monitoring-state-error badge'
                          title='ERROR'
                          style="background-color: #F2DEDE; color: #333;">
                        <small><strong>&nbsp;ERROR&nbsp;</strong>
                    </small>
                </span>
                <span class='pull-right'>
                    <small><strong><a href='http://prodiguer-docs.readthedocs.org/en/latest/' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a></strong></small>
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</script>

<!-- Template: permalink table header row -->
<script type="underscore/template" id="permalink-template">
<tr id="grid-permalink-row" class="hidden bg-primary">
    <th colspan="15">
            <div class="input-group" style="width: 100%" >
                <span>
                <input id="permalink" type="text" class="form-control" style="font-size: 12px;" value="<%= MOD.getPersistentURL() %>"/>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-primary active" id="btn-permalink-copy" title="Copy permalink to clipboard">
                    Copy
                    </button>
                    <button class="btn btn-default" id="btn-permalink-close" title="Close permalink">
                    Close
                    </button>
                </span>
            </div>
    </th>
</tr>
</script>

<!-- Template: permalink table header row -->
<script type="underscore/template" id="grid-pager-template">
<span class='pull-right form-inline <%= paging.count < 2 ? '' : '' %>'>
    <button type='button' class='btn btn-sm btn-default pagination-first'>
        <strong class="text-muted"><<</strong>
    </button>
    <button type='button' class='btn btn-sm btn-default pagination-previous'>
        <strong class="text-muted">&nbsp;&lt;&nbsp;</strong>
    </button>
    <input type='text' class='pagination-info form-control input-sm'
           placeholder="Page <%= paging.current ? paging.current.id : '0' %> of <%= paging.count %>">
    <button type='button' class='btn btn-sm btn-default pagination-next'>
        <strong class="text-muted">&nbsp;&gt;&nbsp;</strong>
    </button>
    <button type='button' class='btn btn-sm btn-default pagination-last'>
        <strong class="text-muted">>></strong>
    </button>
    <select class="pagination-page-size form-control input-sm">
        <% _.each(MOD.state.pageSizeOptions, function(pageSize) { %>
        <option value="<%= pageSize %>" <%= pageSize == MOD.state.pageSize ? "selected" : "" %>>
            <%= pageSize %> / page
        </option>
        <% }); %>
    </select>
</span>
</script>

<!-- Template: search result table body -->
<script type="underscore/template" id="grid-body-template">
<tbody>
    <% _.each((paging.current ? paging.current.data : []), function(s, simulationIndex) { %>
    <%= APP.utils.renderTemplate("grid-row-template", {s: s, MOD: MOD}) %>
    <% }); %>
</tbody>
</script>

<!-- Template: search result table row -->
<script type="underscore/template" id="grid-row-template">
<tr id="<%= s.uid %>" class='monitoring-state-<%= s.executionState %>'>
    <td class="text-center" title="<%= s.ext.activity %>">
        <small>
            <%= s.ext.activity %>
        </small>
    </td>
    <td title="<%= s.name %>">
        <small>
            <%= s.name.slice(0, 30) + (s.name.length > 30 ? '...' : '') %>
        </small>
    </td>
    <td class="text-center" title="<%= s.tryID %>">
        <small>
            <%= s.tryID %>
        </small>
    </td>
    <td class="text-center compute-job-count <%= s.jobs.compute.error.length ? 'bg-danger' : ''%>"
        title='Compute Job Count (#running : #complete : #errors)'>
        <small>
            <%= s.jobs.compute.running.length %> |
            <%= s.jobs.compute.complete.length %> |
            <%= s.jobs.compute.error.length %>
        </small>
    </td>
    <td class="text-center post-processing-job-count <%= s.jobs.postProcessing.error.length ? 'bg-danger' : ''%>"
        title='Post-Processing Job Count (#running : #complete : #errors)'>
        <small>
            <%= s.jobs.postProcessing.running.length %> |
            <%= s.jobs.postProcessing.complete.length %> |
            <%= s.jobs.postProcessing.error.length %>
        </small>
    </td>
    <td class="text-center" title="<%= s.ext.computeNodeMachine %>">
        <small>
            <%= s.ext.computeNodeMachine %>
        </small>
    </td>
    <td class="text-center" title="<%= s.accountingProject %>">
        <small>
            <%= s.accountingProject %>
        </small>
    </td>
    <td class="text-center" title="<%= s.computeNodeLogin %>">
        <small>
            <%= s.computeNodeLogin %>
        </small>
    </td>
    <td class="text-center" title="<%= s.ext.model %>">
        <small>
            <%= s.ext.model %>
        </small>
    </td>
    <td class="text-center" title="<%= s.ext.space %>">
        <small>
            <%= s.ext.space %>
        </small>
    </td>
    <td class="text-center" title="<%= s.ext.experiment %>">
        <small>
            <%= s.ext.experiment %>
        </small>
    </td>
    <td class="text-center" title="<%= s.ext.executionStartDate %>">
        <small>
            <%= s.ext.executionStartDate.slice(0, 16) %>
        </small>
    </td>
    <td class="text-center execution-end-date">
        <small>
            <%= (MOD.getSimulationComputeEndDate(s) || "--").slice(0, 16) %>
        </small>
    </td>
    <td class="text-center monitoring">
        <% if (s.hasMonitoring) { %>
            <span class="glyphicon glyphicon-random"></span>
        <% } else { %>
            <span >--</span>
        <% } %>
    </td>
    <td class="text-center inter-monitoring">
        <% if (s.hasMonitoring) { %>
            <input type="checkbox" <% s.ext.isSelectedForIM ? 'checked' : '' %>></input>
        <% } else { %>
            <span >--</span>
        <% } %>
    </td>
</tr>
</script>

<!-- Template: inter-monitoring content menu -->
<script type="underscore/template" id="im-context-menu-template">
<div id="inter-monitoring-context-menu">
    <ul class='dropdown-menu' role='menu'>
        <li><a tabindex='-1' class='open'>Open inter-monitoring</a></li>
        <li><a tabindex='-1' class='clear'>Clear selections</a></li>
    </ul>
</div>
</script>

<!-- Template: inter-monitoring form -->
<script type="underscore/template" id="im-form-template">
<form id="inter-monitoring-form" method="POST" target="_blank" action="<%= httpPostTarget %>">
    <% _.each(urls, function(url, urlIndex) { %>
    <input type='hidden' id=simul<%= urlIndex + 1 %> name=simul<%= urlIndex + 1 %> value=<%= url %>></ input>
    <% }); %>
</form>
</script>

<!-- Template: web-socket notifications -->
<script type="underscore/template" id="notification-info-template">
<div id="notification-info"
     class="monitoring-state-<%= simulation ? simulation.executionState : 'running' %>"
     style="padding: 12px 17px; margin-bottom: 2px; .border-radius( 5px );">
    <strong>
    <% if (simulation) { %>
        <%= eventTimestamp.slice(0, 19) %>&nbsp;::
        <%= eventTypeDescription %>&nbsp;::
        <a href="<%= simulationDetailURL %>" target="_blank"><%= simulation.name %></a>&nbsp;is
        <%= simulation.ext.executionState %>
    <% } else { %>
        Awaiting simulation events ...
    <% } %>
    </strong>
</div>
</script>

<!-- Template: web-socket close dialog -->
<script type="underscore/template" id="ws-close-dialog-template">
<div id="ws-close-dialog" class="modal fade" role="dialog" aria-labelledby="ws-close-dialog-label" aria-hidden="true" tabindex=-1>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title' id='ws-close-dialog-label'><%= APP.title %> <%= MOD.title %> v<%= APP.version %></h4>
            </div>
            <div class='modal-body'>
                The HERMES web socket server connection has been interrupted.
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' id='ws-close-dialog-refresh-page-button'>Refresh page</button>
            </div>
        </div>
    </div>
</div>
</script>


<!-- JS: 3rd party libraries -->
<script src="ext/jquery-2.1.4.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.2.3.min.js"></script>
<script src="ext/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="ext/moment-2.10.6.min.js"></script>
<script src="ext/numeral-1.5.3.js"></script>
<script src="ext/js.cookie-2.1.0.js"></script>
<script src="ext/jsExtensions.js"></script>
<!-- JS: 3rd party libraries (extensions) -->
<script src="ext/backbone.1.2.3-options-patch.js"></script>
<script src="ext/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
<!-- JS: Application shell -->
<script src="js/app/main.js"></script>
<script src="js/app/constants.js"></script>
<script src="js/app/init.js"></script>
<script src="js/app/options.js"></script>
<script src="js/app/state.js"></script>
<script src="js/app/templates.js"></script>
<script src="js/app/utils.js"></script>
<script src="js/app/view.content.js"></script>
<script src="js/app/view.header.js"></script>
<script src="js/app/view.footer.js"></script>
<script src="js/app/view.progress.js"></script>
<script src="js/app/view.js"></script>
<!-- JS: Module = monitoring (all) -->
<script src="js/simulation/shared/main.js"></script>
<script src="js/simulation/shared/events.js"></script>
<script src="js/simulation/shared/utils.cv.js"></script>
<script src="js/simulation/shared/utils.im.js"></script>
<script src="js/simulation/shared/utils.ws.js"></script>
<script src="js/simulation/monitoring/init.js"></script>
<script src="js/simulation/monitoring/cookies.js"></script>
<script src="js/simulation/monitoring/state.js"></script>
<script src="js/simulation/monitoring/state.utils.js"></script>
<script src="js/simulation/monitoring/data.extender.simulation.js"></script>
<script src="js/simulation/monitoring/data.parser.js"></script>
<script src="js/simulation/monitoring/data.mapper.js"></script>
<script src="js/simulation/monitoring/events.fetch.js"></script>
<script src="js/simulation/monitoring/events.ui.js"></script>
<script src="js/simulation/monitoring/events.ws.js"></script>
<script src="js/simulation/monitoring/view.js"></script>

</body>
</html>
