<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - Prodiguer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="css/app.css" rel="stylesheet" media="screen">
    <link href="css/simulation.monitoring.one.css" rel="stylesheet" media="screen">
    <link href="css/simulation.monitoring.shared.css" rel="stylesheet" media="screen">
    <link href="ext/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<!-- Document body -->
<body>

<!-- Template: module header -->
<script type="underscore/template" id="template-simulation-detail-header">
    <header class="module-header bg-primary">
        <h2>Simulation: <%- simulation.activity.toUpperCase() %> -> <%- simulation.space.toUpperCase() %> -> <%- simulation.name %> [<%- simulation.tryID %>]
            <span class='pull-right'>
                <span class='simulation-messages glyphicon glyphicon-envelope' title='View Simulation Messages'></span>
                <span class='inter-monitoring glyphicon glyphicon-random' title='Open Monitoring'></span>
            </span>
        </h2>
    </header>
</script>

<!-- Template: module footer -->
<script type="underscore/template" id="template-simulation-detail-footer">
    <footer class="module-footer">
        <span>
            <strong><%- simulation.activity.toUpperCase() %> -> <%- simulation.space.toUpperCase() %> -> <%- simulation.name %></strong>
         </span>
         <span class='pull-right'>
            <small><strong>
                <a href='https://github.com/Prodiguer/prodiguer-docs/wiki' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a>
            </strong></small>
         </span>
    </footer>
</script>

<!-- Template: simulation config card -->
<script type="underscore/template" id="template-simulation-detail-config-card">
    <section>
        <header class='bg-info'>
            <h3>Configuration Card</h3>
        </header>
        <textarea class='form-control' rows='45' cols='40'><%- configCard %></textarea>
    </section>
</script>

<!-- Template: simulation overview -->
<script type="underscore/template" id="template-simulation-detail-overview">
    <section>
        <header class='bg-info'>
            <h3>Details</h3>
        </header>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Activity</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.activity %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Machine</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.computeNodeMachine %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Space</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.space %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Login</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.computeNodeLogin %>
                        </span>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Acc. Project</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.accountingProject %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Model</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.model %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Experiment</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.experiment %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Status</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.executionState %>
                        </span>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Try</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.tryID %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Prev. Tries</strong>
                        </span>
                        <span class='col-md-7 previous-try'>
                            <% if (simulation.tryID === 1) { %>
                                --
                            <% } else { %>
                            <select id='previous-try-select'>
                                <option value="0"></option>
                                <% _.each(_.range(simulation.tryID - 1), function(tryID) { %>
                                <option value="<%- tryID + 1 %>"><%- tryID + 1 %></option>
                                <% }); %>
                            </select>
                            <% } %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Started</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.executionStartDate %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Ended</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.executionEndDate %>
                        </span>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Output Start</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.outputStartDate %>
                        </span>
                    </div>
                </div>
                <div class='col-md-3'>
                    <div class='row'>
                        <span class='col-md-5'>
                            <strong>Output End</strong>
                        </span>
                        <span class='col-md-7'>
                            <%- simulation.ext.outputEndDate %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<!-- Template: simulation job history -->
<script type="underscore/template" id="template-simulation-detail-job-history">
    <section>
        <header class='bg-info'>
            <h3><%- jobTypeCaption %> Jobs
            <span class='pull-right'>
                <%- jobHistory.running.length %> running |
                <%- jobHistory.complete.length %> complete |
                <%- jobHistory.error.length %> errors
            <span>
            </h3>
        </header>

        <table class='table table-hover table-bordered table-condensed job-history-table'>
            <thead>
                <tr class='bg-info'>
                    <tr class='bg-primary'>
                        <th title='ID' class='text-center'>#</th>
                        <th title='Post Processing Information' class='<%= jobType === 'compute' ? 'hidden' : '' %>'>Info.</th>
                        <th title='Start Date' class='text-center'>Start Date</th>
                        <th title='End Date' class='text-center'>End Date</th>
                        <th title='Duration' class='text-center'>Duration</th>
                        <th title='Delay' class='text-center'>Lateness</th>
                    </tr>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <span>
                            <span class='monitoring-state-running'><small><strong>&nbsp;RUNNING&nbsp;</strong></small></span>
                            <span class='monitoring-state-complete'><small><strong>&nbsp;COMPLETE&nbsp;</strong></small></span>
                            <span class='monitoring-state-error'><small><strong>&nbsp;ERROR&nbsp;</strong></small>
                        </span>
                        <span class='pull-right'>
                            <strong>
                                <%- jobTypeCaption %> jobs:
                                <%- jobHistory.running.length %> running |
                                <%- jobHistory.complete.length %> complete |
                                <%- jobHistory.error.length %> errors
                            </strong>
                        </span>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <% _.each(jobHistory.all, function(job, jobIndex) { %>
                <tr id="<%= job.jobUID %>" class="<%= MOD.getStateCSS(job.executionState) %>">
                    <td style='width: 40px;' class='id text-center' title='<%= jobIndex %>'><%= jobIndex + 1 %></td>
                    <td class='postProcessingInfo <%= jobType === 'compute' ? 'hidden' : '' %>' title='<%= job.ext.postProcessingInfo %>'><%= job.ext.postProcessingInfo %></td>
                    <td style='width: <%= jobType === 'compute' ? '24%' : '15%' %>;' class='executionStartDate text-center' title='<%= job.ext.executionStartDate %>'><%= job.ext.executionStartDate %></td>
                    <td style='width: <%= jobType === 'compute' ? '24%' : '15%' %>;' class='executionEndDate text-center' title='<%= job.ext.executionEndDate %>'><%= job.ext.executionEndDate %></td>
                    <td style='width: <%= jobType === 'compute' ? '24%' : '15%' %>;' class='duration text-center' title='<%= job.ext.duration %>'><%= job.ext.duration %></td>
                    <td style='width: <%= jobType === 'compute' ? '24%' : '15%' %>;' class='lateness text-center' title='<%= job.ext.lateness %>'><%= job.ext.lateness %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </section>
</script>

<!-- JS: 3rd party libraries -->
<script src="ext/jquery-2.1.4.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.2.1.min.js"></script>
<script src="ext/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="ext/moment-2.10.6.min.js"></script>
<script src="ext/numeral-1.5.3.js"></script>

<!-- JS: 3rd party libraries (extensions) -->
<script src="ext/backbone.1.2.1-options-patch.js"></script>
<script src="ext/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>

<!-- JS: Application shell -->
<script src="js/app/main.js"></script>
<script src="js/app/constants.js"></script>
<script src="js/app/init.js"></script>
<script src="js/app/options.js"></script>
<script src="js/app/state.js"></script>
<script src="js/app/templates.js"></script>
<script src="js/app/utils.js"></script>
<script src="js/app/view.content.js"></script>
<script src="js/app/view.header.js"></script>
<script src="js/app/view.footer.js"></script>
<script src="js/app/view.progress.js"></script>
<script src="js/app/view.js"></script>

<!-- JS: Module = monitoring (one) -->
<script src="js/simulation/monitoring/shared/main.js"></script>
<script src="js/simulation/monitoring/shared/constants.js"></script>
<script src="js/simulation/monitoring/shared/events.setup.complete.js"></script>
<script src="js/simulation/monitoring/shared/events.ws.initialized.js"></script>
<script src="js/simulation/monitoring/shared/urls.js"></script>
<script src="js/simulation/monitoring/shared/utils.cv.js"></script>
<script src="js/simulation/monitoring/shared/utils.im.js"></script>
<script src="js/simulation/monitoring/shared/utils.extender.js"></script>
<script src="js/simulation/monitoring/shared/utils.parser.js"></script>
<script src="js/simulation/monitoring/one/main.js"></script>
<script src="js/simulation/monitoring/one/view.js"></script>

</body>
</html>
