<!DOCTYPE html>
<html lang="en">

<!-- Document head -->
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="shortcut icon" href="img/site-favicon-ipsl.png" type="image/x-icon" />
    <title>IPSL - Prodiguer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="css/app.css" rel="stylesheet" media="screen">
    <link href="css/simulation.monitoring.css" rel="stylesheet" media="screen">
    <link href="css/simulation.monitoring.shared.css" rel="stylesheet" media="screen">
    <link href="ext/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<!-- Document body -->
<body>

<!-- Template: filter panel -->
<script type="underscore/template" id="filter-panel-template">
<div id="filter-panel" class='panel panel-info form-inline'>
    <div class='panel-body'>
        <% _.each(MOD.state.filters, function(filter) { %>
        <div class="col-md-3">
            <label style='width: 40%'><%- filter.displayName %></label>
            <%= APP.utils.renderTemplate("filter-cv-selector-template", filter) %>
        </div>
        <% }); %>
    </div>
</div>
</script>

<!-- Template: cv term filter selector -->
<script type="underscore/template" id="filter-cv-selector-template">
<select id="filter-select-<%= key %>"
        class="<%= isCustom ? 'custom-filter' : '' %>"
        style='width: 55%'>
    <% _.each(cvTerms.all, function(term) { %>
        <% if (isCustom || term.isActive) { %>
        <option <%= term.uid ? 'id=' + term.uid : '' %>
                value="<%= term.name %>"
                <%= term === cvTerms.current ? 'selected' : '' %>><%- term.displayName %></option>
        <% } %>
    <% }); %>
</select>
</script>

<!-- Template: grid header -->
<script type="underscore/template" id="grid-header-template">
<div class='alert bg-primary'>
    <%= APP.utils.renderTemplate("grid-header-stats-template", MOD.state) %>
    <span class='pagination pull-right <%= paging.count < 2 ? 'hidden' : '' %>' role='toolbar'>
        <span class='btn-group' role='group'>
            <button type='button' class='btn btn-default pagination-first'>
                <strong class='text-primary'><<</strong>
            </button>
            <button type='button' class='btn btn-default pagination-previous'>
                <strong class='text-primary'>&nbsp;&lt;&nbsp;</strong>
            </button>
        </span>
        <span class='btn-group'>
            <input type='text' class='pagination-info form-control'
                   placeholder="Page <%= paging.current ? paging.current.id : '0' %> of <%= paging.count %>">
        </span>
        <span class='btn-group' role='group'>
            <button type='button' class='btn btn-default pagination-next'>
                <strong class='text-primary'>&nbsp;&gt;&nbsp;</strong>
            </button>
            <button type='button' class='btn btn-default pagination-last'>
                <strong class='text-primary'>>></strong>
            </button>
        </span>
    </span>
</div>
</script>

<!-- Template: search statistics -->
<script type="underscore/template" id="grid-header-stats-template">
<span id='grid-header-stats'>
    <strong>Total simulations = <%- simulationList.length %>.
            Filtered simulations = <%- simulationListFiltered.length %>.</strong>
</span>
</script>

<!-- Template: search result table -->
<script type="underscore/template" id="grid-template">
<table class='table table-hover table-bordered table-condensed monitoring-table'>
    <thead>
        <tr class='bg-primary'>
            <th title='Activity' class='text-center'><small>Activity</small></th>
            <th title='Name'><small>Name</small></th>
            <th title='Try' class='text-center'><small>Try</small></th>
            <th title='Compute Jobs' class='text-center'><small>Jobs (C)</small></th>
            <th title='Post-Processing Jobs' class='text-center'><small>Jobs (PP)</small></th>
            <th title='Node - Machine' class='text-center'><small>Node - Machine</small></th>
            <th title='Login' class='text-center'><small>Login</small></th>
            <th title='Tag / Model' class='text-center'><small>Tag / Model</small></th>
            <th title='Space' class='text-center'><small>Space</small></th>
            <th title='Experiment' class='text-center'><small>Experiment</small></th>
            <th title='Start' class='text-center'><small>Start</small></th>
            <th title='End' class='text-center'><small>End</small></th>
            <th title='monitoring' class='text-center'></th>
            <th class='interMonitoring text-center' title='Open inter-monitoring menu' data-toggle='context' data-target='#inter-monitoring-context-menu'>
              <span class='glyphicon glyphicon-random'></span>
            </th>
        </tr>
    </thead>
    <%= APP.utils.renderTemplate("grid-body-template", MOD.state) %>
    <tfoot>
        <tr>
            <td colspan="14">
                <span>
                    <span class='monitoring-state-queued'><small><strong>&nbsp;QUEUED&nbsp;</strong></small></span>
                    <span class='monitoring-state-running'><small><strong>&nbsp;RUNNING&nbsp;</strong></small></span>
                    <span class='monitoring-state-complete'><small><strong>&nbsp;COMPLETE&nbsp;</strong></small></span>
                    <span class='monitoring-state-error'><small><strong>&nbsp;ERROR&nbsp;</strong></small>
                </span>
                <span class='pull-right'>
                    <small><strong><a href='https://github.com/Prodiguer/prodiguer-docs/wiki' target='blank'><%- APP.title %></a> <%- MOD.title %> v<%- APP.version %> © <%- year %> <a href='<%- APP.institute.homePage %>' target='_blank'>IPSL</a></strong></small>
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</script>

<!-- Template: search result table body -->
<script type="underscore/template" id="grid-body-template">
<tbody>
    <% _.each((paging.current ? paging.current.data : []), function(s, simulationIndex) { %>
    <%= APP.utils.renderTemplate("grid-row-template", {s: s}) %>
    <% }); %>
</tbody>
</script>

<!-- Template: search result table row -->
<script type="underscore/template" id="grid-row-template">
<tr id="<%= s.uid %>" class='monitoring-state-<%= s.executionState %>'>
    <td class='text-center'>
        <small>
            <%= s.ext.activity %>
        </small>
    </td>
    <td >
        <small>
            <%= s.name %>
        </small>
    </td>
    <td class='text-center'>
        <small>
            <%= s.tryID %>
        </small>
    </td>
    <td class="text-center compute-job-count <%= s.jobs.compute.error.length ? 'bg-danger' : ''%>"
        title='Compute Job Count (#running : #complete : #errors)'>
        <small>
            <%= s.jobs.compute.running.length %> |
            <%= s.jobs.compute.complete.length %> |
            <%= s.jobs.compute.error.length %>
        </small>
    </td>
    <td class="text-center post-processing-job-count <%= s.jobs.postProcessing.error.length ? 'bg-danger' : ''%>"
        title='Post-Processing Job Count (#running : #complete : #errors)'>
        <small>
            <%= s.jobs.postProcessing.running.length %> |
            <%= s.jobs.postProcessing.complete.length %> |
            <%= s.jobs.postProcessing.error.length %>
        </small>
    </td>
    <td class='text-center'>
        <small>
            <%= s.ext.computeNodeMachine %>
        </small>
    </td>
    <td class='text-center'>
        <small>
            <%= s.computeNodeLogin %>
        </small>
    </td>
    <td class='text-center' >
        <small>
            <%= s.ext.model %>
        </small>
    </td>
    <td class='text-center' >
        <small>
            <%= s.ext.space %>
        </small>
    </td>
    <td class='text-center' >
        <small>
            <%= s.ext.experiment %>
        </small>
    </td>
    <td class='text-center' >
        <small>
            <%= s.ext.executionStartDate %>
        </small>
    </td>
    <td class='text-center execution-end-date' >
        <small>
            <%= s.ext.executionEndDate %>
        </small>
    </td>
    <td class='text-center monitoring' ><span class='glyphicon glyphicon-random'></span></td>
    <td class='text-center inter-monitoring' >
        <input type='checkbox' <% s.ext.isSelectedForIM ? 'checked' : '' %>></input>
    </td>
</tr>
</script>

<!-- Template: inter-monitoring content menu -->
<script type="underscore/template" id="im-context-menu-template">
<div id="inter-monitoring-context-menu">
    <ul class='dropdown-menu' role='menu'>
        <li><a tabindex='-1' class='open'>Open inter-monitoring</a></li>
        <li><a tabindex='-1' class='clear'>Clear selections</a></li>
    </ul>
</div>
</script>

<!-- Template: inter-monitoring form -->
<script type="underscore/template" id="im-form-template">
<form id="inter-monitoring-form" method="POST" target="_blank" action="<%= httpPostTarget %>">
    <% _.each(urls, function(url, urlIndex) { %>
    <input type='hidden' id=simul<%= urlIndex + 1 %> name=simul<%= urlIndex + 1 %> value=<%= url %>></ input>
    <% }); %>
</form>
</script>

<!-- Template: web-socket notifications -->
<script type="underscore/template" id="ws-notification-info-template">
<div id="ws-notification-info" class="alert monitoring-state-<%= simulation ? simulation.executionState : 'running' %>">
    <strong>
    <%= simulation ? eventTimestamp.slice(0, 19) + " :: " : '' %>
    <% if (simulation) {
        switch (eventType) {
        case 'simulationComplete':
            print("SIMULATION COMPLETED");
            break;
        case 'simulationError':
            print("SIMULATION ERROR");
            break;
        case 'simulationStart':
            if (simulation.ext.isRestart) {
                print("SIMULATION STARTED");
            } else {
                print("SIMULATION RESTARTED");
            }
            break;
        case 'jobComplete':
            print("JOB COMPLETED");
            break;
        case 'jobError':
            print("JOB ERROR");
            break;
        case 'jobStart':
            print("JOB STARTED");
            break;
        default:
            break;
        }
        print(" :: ");
        print(simulation.name);
        print(" is ");
        print(simulation.ext.executionState);
    } else {
        print("Awaiting simulation events ...");
    } %>
    </strong>
</div>
</script>

<!-- Template: web-socket close dialog -->
<script type="underscore/template" id="ws-close-dialog-template">
<div id="ws-close-dialog" class="modal fade" role="dialog" aria-labelledby="ws-close-dialog-label" aria-hidden="true" tabindex=-1>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4 class='modal-title' id='ws-close-dialog-label'><%= APP.title %> <%= MOD.title %> v<%= APP.version %></h4>
            </div>
            <div class='modal-body'>
                The Prodiguer web socket server connection has been interrupted.
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' id='ws-close-dialog-refresh-page-button'>Refresh page</button>
            </div>
        </div>
    </div>
</div>
</script>


<!-- JS: 3rd party libraries -->
<script src="ext/jquery-2.1.4.min.js"></script>
<script src="ext/underscore.1.8.3.min.js"></script>
<script src="ext/backbone.1.2.3.min.js"></script>
<script src="ext/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="ext/moment-2.10.6.min.js"></script>
<script src="ext/numeral-1.5.3.js"></script>
<!-- JS: 3rd party libraries (extensions) -->
<script src="ext/backbone.1.2.3-options-patch.js"></script>
<script src="ext/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
<!-- JS: Application shell -->
<script src="js/app/main.js"></script>
<script src="js/app/constants.js"></script>
<script src="js/app/init.js"></script>
<script src="js/app/options.js"></script>
<script src="js/app/state.js"></script>
<script src="js/app/templates.js"></script>
<script src="js/app/utils.js"></script>
<script src="js/app/view.content.js"></script>
<script src="js/app/view.header.js"></script>
<script src="js/app/view.footer.js"></script>
<script src="js/app/view.progress.js"></script>
<script src="js/app/view.js"></script>
<!-- JS: Module = monitoring (all) -->
<script src="js/simulation/monitoring/shared/main.js"></script>
<script src="js/simulation/monitoring/shared/events.js"></script>
<script src="js/simulation/monitoring/shared/utils.cv.js"></script>
<script src="js/simulation/monitoring/shared/utils.im.js"></script>
<script src="js/simulation/monitoring/shared/utils.extender.js"></script>
<script src="js/simulation/monitoring/shared/utils.parser.js"></script>
<script src="js/simulation/monitoring/shared/utils.ws.js"></script>
<script src="js/simulation/monitoring/all/state.js"></script>
<script src="js/simulation/monitoring/all/state.utils.js"></script>
<script src="js/simulation/monitoring/all/events.fetch.js"></script>
<script src="js/simulation/monitoring/all/events.ui.js"></script>
<script src="js/simulation/monitoring/all/events.ws.js"></script>
<script src="js/simulation/monitoring/all/view.js"></script>

</body>
</html>
